<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wander.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C8B637B31E61F7B900E27F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8B637C71E61F7BA00E27F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8B637D21E61F7BA00E27F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
